/*Responsive For Smalll Device*/
@media screen and (max-width:576px) {
    nav, .nav-item{
        flex-direction: column;
    }
    nav .logo a{
        font-size: 2rem;
    }
    .logo img{
        width: 86px;
        height: 40px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-title {
        font-size: 5rem;
        margin-bottom: 2.5rem;
    }
    .banner-content {
        text-align: center;
        padding: 0 10px;
        order: 2;
    }
    .banner-content> h2{
        font-size: 2.5rem;
    }
    
    .icon-container {
        text-align: left;
        padding: 0 10px;
    }
    .banner-image {
        margin-top: 3.5rem;
    }
    .banner-image img {
        max-width: 100%;
    }
    button.btn-primary{
        margin-right: 0;
        margin-bottom: 1.5rem;
        width: 70%;
    }
    button.btn-secondary{
        width: 70%;
    }
    .about-gamer{
        flex-direction: column;
        gap: 0;

    }
    .about-gamer img{
        width: 100%;
    }
    .gamer-title{
        font-size: 2.5rem;
        text-align: center;
    }
    .gamer-description{
        text-align: justify;
        padding: 1rem;
    }
    .gamer-content>button.btn-primary {
        margin: 1rem 0 1rem 2rem;
        position: static;
    }
    .gamer-quote {
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }
    .gamer-quote>span{
        font-size: 20px;
    }
    .games-video {
        margin: 2rem 0;
        padding: 0 1rem;
    }
    .video-title {
        font-size: 2.5rem;
    }
    .video-gallery{
        flex-direction: column;
    }
    .video-card {
        padding: 1rem;
    }
    .video-card img{
        width: 100%;
    }


    .play-instant-wrapper,
    .play-anytime-wrapper{
        flex-direction: column;
        padding: 1rem;
    }
    .play-instant-content,
    .play-anytime-content {
        padding: 0;
    }
    .play-instant-title,
    .play-anytime-title {
        font-size: 2rem;
    }
    .img-relative, 
    .img-relative-anytime {
        position: static;
    }
    .play-anytime-content {
        order: 1;
    }
    .play-instant-image img,
    .play-anytime-image img,
    .career-image img{
        width: 100%;
    }
    .career-wrapper{
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.7rem;
    }
    .career-description{
        gap: 2rem;
    }
    .career-description .right-content{
        text-align: left;
    }
}



/*Responsive For Medium Device*/
/*Responsive For Large Device*/