/*Responsive For Smalll Device*/
@media screen and (max-width:576px) {
    nav, .nav-item{
        flex-direction: column;
    }
    nav .logo a{
        font-size: 2rem;
    }
    .logo img{
        width: 86px;
        height: 40px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-title {
        font-size: 5rem;
        margin-bottom: 2.5rem;
    }
    .banner-content {
        text-align: center;
        padding: 0 10px;
        order: 2;
    }
    .banner-content> h2{
        font-size: 2.5rem;
    }
    
    .icon-container {
        text-align: left;
        padding: 0 10px;
    }
    .banner-image {
        margin-top: 3.5rem;
    }
    .banner-image img {
        max-width: 100%;
    }
    button.btn-primary{
        margin-right: 0;
        margin-bottom: 1.5rem;
        width: 70%;
    }
    button.btn-secondary{
        width: 70%;
    }
}



/*Responsive For Medium Device*/
/*Responsive For Large Device*/