/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border: 0;
    border-radius: 48px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    cursor: pointer;
    
}
.btn-primary:hover{
    background: #8758F1FF;
}
.btn-secondary{
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
    cursor: pointer;
}
.btn-secondary:hover{
    background: #0B0223;
}
/* Header Styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
}
.logo h2{
    background: linear-gradient(#FF42A5FF, #FF42A5, #0B0223);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.logo-text {
    margin-left: -10px;
    margin-top: 10px;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-item a{
    font-size: 18px;
    color: #3C354F;
    transition: .2s ease;
}
.nav-item a:hover{
    color:black;
    font-weight: 500;
}
.follow-icon{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 5px 1rem;
    font-size: 18px;
    color: #3C354F;
}
.follow-icon img{
    width: 32px;
    height: 28px;
    margin: 0 5px;
    transition: transform .3s ease-in-out;
}
.follow-icon a:hover img{
    transform: scale(1.5);
}

/* Banner Section Styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.banner-content> h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #0B0223;
}
.banner-title{
        background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 5.5rem;
        font-weight: 800;
        margin-top: 0;
}
.icon-box {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    
}
.icon-box:hover img{
    transform: scale(1.2);
}
.icon-box img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%,rgb(255, 66, 165) 87.942%);
    padding: 3px;
    transition: transform .3s ease-in-out;
}
.icon-box p{
    font-size: 20px;
    color: #534C64;
    font-weight: 500;
    margin: 1rem 0;
}
.button {
    margin: 2rem 0;
    padding: 1rem 0;
}
button.btn-primary {
    margin-right: 1rem;
}

/* About Gamer Styles*/

.about-gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 5rem 0;
}
.gamer-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(#F948B2, #8758F1);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: right;
    margin-bottom: 24px;
}
.gamer-description{
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    text-align: right;
    line-height: 30px;
}
.gamer-content>button.btn-primary {
    position: relative;
    left: 64%;
    margin-right: 0;
    margin-top: 2rem;
}
.gamer-quote{
    font-size: 32px;
    font-weight: 700;
    color: #534C64;
    text-align: right;
}
.gamer-quote>span{
    font-size: 24px;
    font-weight: 500;
}